<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="ext_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_G" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_B" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ext_H1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_S1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_V1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_H2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_S2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ext_V2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="X4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoopen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Filter1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MousePaint" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>